.body-main {
    padding-bottom: 0;
}


.change-password-section-wrapper {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.56);
    /* width: 100%; */
}

.change-password-section-container {
    border: solid 1px rgba(255, 255, 255, 0.56);
    width: 700px;
    height: calc(100vh - 178px);
}

.back-arrow-btn {
    height: 30px;
    cursor: pointer;
    padding: .5rem;
    transition:all ease-in-out 100ms
}

.back-arrow-btn:hover {
    background-color: rgba(240, 248, 255, 0.19);
    border-radius: 50%;
}

.change-password-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .5rem 1rem;
}

.go-back-btn {
    text-decoration: none;
    color: white;
}

.user-profile-pic {
    height: 80px;
    border-radius: 50%;
    margin-left: 1.2rem;
}


@media (max-width:420px) {

    .change-password-header h1 {
        font-size: 1.2rem;
    }

    .back-arrow-btn {
        height: 25px;
    }

    .user-profile-pic {
        height: 60px;
    }
}