.body-main {
    padding-bottom: 0;
}


.change-password-section-wrapper {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.56);
    /* width: 100%; */
}

.change-password-section-container {
    border: solid 1px rgba(255, 255, 255, 0.56);
    width: 700px;
    height: calc(100vh - 178px);
}

.back-arrow-btn {
    height: 30px;
    cursor: pointer;
    padding: .5rem;
    transition:all ease-in-out 100ms
}

.back-arrow-btn:hover {
    background-color: rgba(240, 248, 255, 0.19);
    border-radius: 50%;
}

.change-password-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .5rem 1rem;
}

.go-back-btn {
    text-decoration: none;
    color: white;
}

.change-password-form-container {
    padding: 1rem;
}

.forgot-password-link {
    margin: 1rem 0;
}

.password-input {
    width: 650px;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: .3rem;
    outline: solid 1px rgb(85, 85, 85);
    padding: .7rem;
}

.password-input:focus {
    outline: solid 2px rgb(43, 122, 249);
    color: rgb(43, 122, 249);
}

.new-password-input {
    margin-top: 1rem;
}

.save-btn-container {
    display: flex;
    justify-content: flex-end;
}

.save-new-password-btn {
    background-color: rgb(43, 122, 249);
    border: none;
    border-radius: 2rem;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.save-new-password-btn:hover {
    background-color: rgb(25, 83, 176);
}


.errors-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgb(0, 0, 0, 0.6);

    display: flex; justify-content: center;
    flex-direction: column; align-items: center;
}

.errors-container {
    padding: 1.5rem;
    border: solid 1px white;
    border-radius: 2rem;
    background-color: black;
}

.errors-container h1 {
    text-align: center;
    color: red;
}

.errors-container h2 {
    text-align: center;
}

.errors-wrapper.hide {
    display: none;
}

.errors-ok-btn-wrapper {
    display: flex;
    justify-content: center;
}

.errors-ok-btn {
    background-color: rgb(43, 122, 249);
    color: aliceblue;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.errors-ok-btn:hover {
    background-color: rgb(29, 84, 173);
}


.errors-container h3{
    font-size: 1.6rem;
}


@media (max-width:640px) {
    .change-password-section-container {
        width: 500px;
        /* height: calc(100vh - 178px); */
    }

    .password-input {
        width: 450px; /* This value here is alway 50px smaller than the width of .change-password-section */
    }
}

@media (max-width:420px) {

    .change-password-section-container {
        width: 290px;
        /* height: calc(100vh - 178px); */
    }

    .password-input {
        width: 240px; /* This value here is alway 50px smaller than the width of .change-password-section */
        font-size: 1rem;
    }

    .change-password-header h1 {
        font-size: 1.2rem;
    }

    .forgot-password-link p {
        font-size: .8rem;
    }

    .back-arrow-btn {
        height: 25px;
    }

    .save-new-password-btn {
        font-size: 1rem;
    }

    .errors-container {
        padding: 1.5rem;
        border: solid 1px white;
        border-radius: 2rem;
        background-color: black;
    }

    .errors-container h1 {
        font-size: 1.5rem;
    }

    .errors-container h2 {
        font-size: 1rem;
    }
    
    .errors-ok-btn {
        font-size: 1.2rem;
    }
}