.body-main {
    padding-bottom: 0;
}

.settings-section-wrapper {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.56);
    /* width: 100%; */
}

.settings-section-container {
    border: solid 1px rgba(255, 255, 255, 0.56);
    width: 700px;
    height: calc(100vh - 178px);
}


.option {
    padding: 1rem;
}

.option:hover {
    background-color: rgba(127, 127, 127, 0.718);
}

.option p {
    font-size: 1.5rem;
}

.change-password-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
}